.footer {
  height: 324px;
  justify-content: space-between;
}
.container {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}
.text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: left;
}
.item {
  margin-right: 86px;
}
.itemLink {
  width: 150px;
  padding-right: 25px;
  color: #000;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.itemLink:hover {
  color: #0d28a6;
}
.img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.logo {
  width: 100px;
  height: 34px;
}
.sosmedLink {
  text-decoration: none;
}
